<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mincat.mobilemallmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActivityThemeCrossPublicMaterial">

        <activity
            android:name=".ui.SplashAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainHomeAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />

        <activity
            android:name=".ui.LoginAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.GoodsCategoryAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.AddGoodsAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.ModifyGoodsInfoAct"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mincat.mobilemallmanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>