<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mincat.mobilemallmanager">

    <!--网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--向SD卡中写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--从SD卡中读文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--相机使用权限-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme">

        <activity
            android:name=".ui.SplashAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainHomeAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.CarriageTemplateAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />

        <activity
            android:name=".ui.LoginAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.GoodsCategoryAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.AddGoodsAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.ModifyGoodsInfoAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.DiscountAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.PublicWeb"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />
        <activity
            android:name=".ui.AddPicAct"
            android:theme="@style/ActivityThemeCrossPublicMaterial" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mincat.mobilemallmanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>